/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
}

.container{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    
}
.col{
    margin-right: 110px;
    /* border: 1px solid black; */
  
}

